.header-container {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 30%
    ),
    linear-gradient(to right, #e94641 0%, transparent 100%),
    linear-gradient(to right, #e94641 0%, transparent 100%);

  justify-content: flex-end;
  position: relative;
  top: -160px;
  margin-bottom: -130px;
}
.header-container img {
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  z-index: -1;
}

.header-text {
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 800;
}
.container-header p {
  font-size: clamp(14px, 2vw, 20px);

  /* text-align: center; */
  margin-top: 10px;
  width: 70%;
}

.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    linear-gradient(to right, #e94641 0%, transparent 100%);
  pointer-events: none;
  z-index: -1; /* El gradiente debe estar debajo del contenido del header */
}

.container-header {
  font-size: 2rem;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  margin-left: 112px;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 112px;
}

.main-content {
  position: relative;
}
section {
  margin-bottom: 50px;
}

.main-content article {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.article-container h2 {
  font-size: 50px;
  color: #e94641;
  font-weight: 800;
}
.article-text p {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.article-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  padding-left: 120px;
  padding-right: 120px;
}
.header-image-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 30%;
}
.card-body {
  flex: 1 1 auto;
  padding-bottom: 40px;
  /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
  color: var(--bs-card-color);
  padding-left: 10px;
  padding-right: 10px;
}
.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.background-container {
  width: 80%;
  height: auto;
  position: absolute;
  display: flex;
  /* justify-content: center; */
  background-color: #f2f2f2;
  border-radius: 20px;
  /* opacity: 0.3; */
  /* z-index: -1; */
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 60px;
}
.btn-secondary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #ea4e49;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #ea4e4a;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #eb5550;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #eb5550;
  font-weight: 800;
  font-size: 25px;
}
.col {
  flex: 0;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  justify-content: center;
  gap: 10px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1296px; /* Mantiene el tamaño en pantallas grandes */
  height: auto;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  z-index: 2; /* Mantiene la proporción del video */
}

/* Media query para hacer el video responsive en móviles */
@media (max-width: 1300px) {
  .video-container {
    width: 90%; /* Reduce el tamaño en pantallas pequeñas */
  }
}

@media (max-width: 768px) {
  .video-container {
    width: 100%; /* Ocupa todo el ancho en móviles */
  }
}
.img-fondo-home {
  width: 100%;
  height: auto;
  /* position: absolute; */
  /* top: 150px; */
}
.number-card {
  color: #e94641;
  font-size: clamp(20px, 5vw, 50px);
  font-weight: 800;
}
.formas-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.article-fondo-container {
  position: absolute;
  top: 350px;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1144px) {
  .container-header p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .bg-light {
    padding-right: 30px;
    padding-left: 30px;
    z-index: 2;
  }
  .container-header {
    margin-left: 30px;
  }
}
