.btn-primary {
  --bs-btn-color: #f1eded;
  --bs-btn-bg: #e94641;
  --bs-btn-border-color: #e7ebf0;
  --bs-btn-hover-color: #e94641;
  --bs-btn-hover-bg: white;
}

a {
  color: white;
  text-decoration: underline;
}
